@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,700i&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $font-base;
  font-weight: bold;
  color: $dark;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}